canvas {
	margin-top: 50px;
}

#dateInput {
	margin-top: 100px;
}

.currentHeartBeatsPerTable {
	font-family: Ubuntu;
	font-weight: bold;
}

.noBold {
	font-weight: normal;
}

.statRow {
	margin-top: 15px;
}

#bpmInput {
	margin-top: 10px;
}

#submitButton {
	margin-top: 10px;
}